* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans' sans-serif;
    scroll-behavior: smooth;
}



/* blogs Section */
.blogs {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 200px 0;
}


.blogs__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
}

.blogs__card {
    background-image: url(Model.jpg);
    background-size: 200%;
    background-repeat: no-repeat;
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    
    transition: 0.3s ease-in;
}

    .blogs__card:nth-child(2) {
        background-image: url(Internet.jpg);
        background-size: 150%;
        background-repeat: no-repeat;
    }

    .blogs__card:nth-child(3) {
        background-image: url(InternetArt.jpg);
        background-size: 220%;
        background-repeat: no-repeat;
    }

    .blogs__card:nth-child(4) {
        background-image: url(PoetryBag1.jpg);
        background-size: 190%;
        background-repeat: no-repeat;
    }

    .blogs__card h2 {
        text-align: center;
    }

    .blogs__card p {
        text-align: center;
        margin-top: 24px;
        font-size: 20px;
    }

.blogs__btn {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.blogs__card button {
    color: #fff;
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #131313;
    font-size: 1rem;
    text-decoration: none;
}

    .blogs__card button:hover {
        cursor: pointer;
    }

.blogs__card:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 1300px) {
    .blogs__wrapper {
        grid-template-columns: 1fr ;
    }
}



.blogs {
    background-color: #fff;
    padding: 10rem 0;
}

.PersonalBlogs_Container {
    display: grid;
    grid-template-rows:  1fr;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    height: 90%;
    z-index: 1;
    width: 50%;
    max-width: 1300px;
    padding: 40px;
    background: #00ffff;
}


.Pblogs__content {
    color: #fff;
    width: 100%;
}

    .Pblogs__content h1 {
        font-size: 2rem;
        background-color: #131313;
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        text-transform: uppercase;
        margin-bottom: 32px;
    }



    .Pblogs__content p {
        margin-top: 1rem;
        font-size: 18px;
        font-weight: 500;
        color: #131313;
    }



.TheoryBlogs_Container {
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    height: 90%;
    z-index: 1;
    width: 50%;
    max-width: 1300px;
    padding: 40px;
    background: #00ffff;
}



.Tblogs__content {
    color: #fff;
    width: 100%;
}

    .Tblogs__content h1 {
        font-size: 2rem;
        background-color: #131313;
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        text-transform: uppercase;
        margin-bottom: 32px;
    }



    .Tblogs__content p {
        margin-top: 1rem;
        font-size: 18px;
        font-weight: 500;
        color: #131313;
    }



.BonusBlogs_Container {
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    height: 90%;
    z-index: 1;
    width: 50%;
    max-width: 1300px;
    padding: 40px;
    background: #00ffff;
}



.Bblogs__content {
    color: #fff;
    width: 100%;
}

    .Bblogs__content h1 {
        font-size: 2rem;
        background-color: #131313;
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        text-transform: uppercase;
        margin-bottom: 32px;
    }



    .Bblogs__content p {
        margin-top: 1rem;
        font-size: 18px;
        font-weight: 500;
        color: #131313;
    }



.About {
    background-color: #fff;
    padding: 10rem 0;
}

.About_Container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    height: 90%;
    z-index: 1;
    width: 50%;
    max-width: 1300px;
    padding: 40px;
    background: #00ffff;
}


.About__content {
    color: #fff;
    width: 100%;
}

    .About__content h1 {
        font-size: 2rem;
        background-color: #131313;
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        text-transform: uppercase;
        margin-bottom: 32px;
    }



    .About__content p {
        margin-top: 1rem;
        font-size: 18px;
        font-weight: 500;
        color: #131313;
    }

.mainabout__img--container {
    text-align: center;
}

.mainabout__img--card {
    margin: 10px;
    height: 500px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-size: 100%;
    background-repeat: no-repeat;
}

/*///////////////////////////////////////////Slider///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

slider {
    display: flex;
    height: 500px;
    width: 500px;
    background-color: #fff;
    overflow: hidden;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    margin: 10px;
}

    slider > * {
        overflow: hidden;
        display: flex;
        height: 500px;
        width: 500px;
        background-color: #fff;
        background-size: 100%;
        background-repeat: no-repeat;
        position: absolute;
        animation: slide 12s infinite;
    }

slide:nth-child(1) {
    left: 0%;
    animation-delay: -1s;
    background-image: url(SarahLanga.jpg);
    background-position: center;
    background-size: 150%;
}


slide:nth-child(2) {
    animation-delay: 2s;
    background-image: url(Maboneng.jpg);
    background-position: center;
    background-size: 150%;
}



slide:nth-child(3) {
    animation-delay: 5s;
    background-image: url(Lulama.jpg);
    background-position: center;
}



slide:nth-child(4) {
    animation-delay: 8s;
    background-image: url(girls.jfif);
    background-position: center;
    background-size: 100%;
}

@keyframes slide {
    0% {
        left: 100%;
        width: 100%;
    }

    5% {
        left: 0%;
    }

    25% {
        left: 0%;
    }

    30% {
        left: -100%;
        width: 100%;
    }

    30.0001% {
        left: -100%;
        width: 0%;
    }

    100% {
        left: 100%;
        width: 0%;
    }
}
/*///////////////////////////////////////////////////////////////////////////////////////// Slider//////////////////////////////////////////////////////////////////////////////*/

