/* ==========================================================================
	Global Styles
========================================================================== */
a {
    color: #E04343;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border-bottom: 1px dashed;
    outline: none !important;
}

    a:hover, a:focus, a:active {
        color: #0D0D0D;
        text-decoration: none;
        outline: none !important;
    }

p {
    color: #8c9398;
    word-spacing: 1px;
    line-height: 25px;
    font-size: 14px;
}

h2 {
    font-size: 15px;
    color: #353535 !important;
    text-transform: uppercase;
    font-weight: bold;
}

    h2::after {
        content: " ";
        border: solid 1px #CCCCCC;
        display: block;
        width: 65px;
        margin: 20px auto;
    }

h6 {
    font-size: 15px;
    color: #8c8c8c;
    text-transform: uppercase;
    font-weight: bold;
}

    h6::after {
        content: " ";
        border: solid 1px #CCCCCC;
        display: block;
        width: 65px;
        margin-top: 20px;
    }

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

h1 {
    font-size: 2em;
    margin: 0.67em 0;
    color: #353535;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 12px;
    margin: 2.33em 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b, strong {
    font-weight: bold;
}

blockquote {
    margin: 0em 55px;
    border-left: 4px solid #CCCCCC;
}







/* ==========================================================================Services========================================================================== */
.services {
    margin-top: 80px;
    margin-bottom: 40px;
}

    .services .icon {
        position: relative;
        width: 175px;
        height: 175px;
        margin: 0 auto;
        text-align: center;
        line-height: 180px;
        font-size: 56px;
        color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 0 0 rgba(0,0,0,0.0);
        margin-bottom: 40px;
        -webkit-transition: all .3s ease-out;
        transition: all .3s ease-out;
        border: 1px solid #E04343;
        color: #E04343;
    }

    .services .item:hover .icon {
        background: #E04343;
        border: 1px solid #E04343;
    }

    .services .item [class*=fa] {
        -webkit-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }

    .services .item:hover [class*=fa] {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition: all .3s ease-out;
        transition: all .3s ease-out;
        color: #fff;
    }

.features-wrapper {
    margin: 70px 0 0;
}

i.respons {
    position: relative;
    width: 35px;
    height: 35px;
    margin: 0 auto;
    line-height: 35px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    border-radius: 50%;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    border: 1px solid #CCCCCC;
    color: #CCCCCC;
}



/* blogs Section */
.blogs {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10rem 0;
}

    .blogs h1 {
        background-color: #131313;
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        margin-bottom: 5rem;
        font-size: 2.5rem;
    }

.blogs__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}

.blogs__card {
    
  
    background-repeat: no-repeat;
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
   

    transition: 0.3s ease-in;
}

    .blogs__card:nth-child(2) {
       
        
        background-repeat: no-repeat;
    }

   
    .blogs__card .icon {
        position: relative;
        width: 175px;
        height: 175px;
        margin: 0 auto;
        text-align: center;
        line-height: 180px;
        font-size: 56px;
        color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 0 0 rgba(0,0,0,0.0);
        margin-bottom: 40px;
        -webkit-transition: all .3s ease-out;
        transition: all .3s ease-out;
        border: 1px solid #E04343;
        color: #E04343;
    }



.blogs__card:hover .icon {
    background: #E04343;
    border: 1px solid #E04343;
}

.blogs__card [class*=fa] {
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.blogs__card:hover [class*=fa] {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    color: #fff;
}
    .blogs__card h2 {
        text-align: center;
    }

    .blogs__card p {
        text-align: center;
        margin-top: 24px;
        font-size: 20px;
    }

.blogs__btn {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.blogs__card button {
    color: #353535;
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #131313;
    font-size: 1rem;
    text-decoration: none;
}

    .blogs__card button:hover {
        cursor: pointer;
    }

.blogs__card:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 1300px) {
    .blogs__wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .About_Container2 {
        display: grid;
        grid-template-rows: 1fr;
        align-items: center;
        justify-content: center;
        margin: 100px auto;
        height: 150%;
        width: 100%;
        max-width: 1300px;
        padding: 40px;
    }
}

@media screen and (max-width: 768px) {
    .blogs__wrapper {
        grid-template-columns: 1fr;
    }
}


/* ==========================================================================About========================================================================== */
.about-image {
    height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.color-bg {
    background: #E04343;
}

    .color-bg a {
        color: #FFE800;
    }

    .color-bg h6, .color-bg p {
        color: white;
    }

        .color-bg h6::after {
            border-color: #fff;
        }

    .color-bg .weight-outline-btn {
        color: white;
        border-color: white;
    }

        .color-bg .weight-outline-btn:hover {
            background: #FFF;
            color: #E04343;
            border-color: rgba(0, 0, 0, 0);
        }

.about-text {
    padding: 20px 50px 25px 50px;
}

    .about-text h1 {
        text-transform: uppercase;
        font-size: 24px;
        color: #8C8C8C;
    }

.color-bg h1.arrow span {
    color: #FFE800;
}

.color-bg h1.arrow {
    color: #FFF;
}

.About {
    background-color: #fff;
    padding: 10rem 0;
}

.About_Container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 40px;
    
}

.Theory_Container {
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    height: 90%;
    z-index: 1;
    width: 50%;
    max-width: 1300px;
    padding: 40px;
    background: #E04343;
}
.Theory_Container2 {
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    height: 20%;
    z-index: 1;
    width: 50%;
    max-width: 1300px;
    padding: 40px;
    background: #E04343;
}
.About_Container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    height: 150%;
    
    width: 100%;
    max-width: 1300px;
    padding: 40px;
}

.About__content {
    color: #fff;
    width: 100%;
}

    .About__content h1 {
        font-size: 2rem;
        background-color: #131313;
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        text-transform: uppercase;
        margin-bottom: 32px;
    }



    .About__content p {
        margin-top: 1rem;
        font-size: 18px;
        font-weight: 500;
        color: #131313;
    }

.mainabout__img--container {
    text-align: center;
}

.mainabout__img--card {
    height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.Theory__content {
    color: #fff;
    width: 100%;
}

    .Theory__content h1 {
        font-size: 2rem;
        background-color: #131313;
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        text-transform: uppercase;
        margin-bottom: 32px;
    }

.Theory-text p {
    margin-top: 1rem;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.Theory-text {
    padding: 20px 50px 25px 50px;
}

    .Theory-text h1 {
        text-transform: uppercase;
        font-size: 24px;
        color: #fff;
    }